certifi
cffi
charset-normalizer
filelock
fsspec
idna
Jinja2
llvmlite
MarkupSafe
more-itertools
mpmath
networkx
numba
numpy
openai-whisper @ git+https://github.com/openai/whisper.git@517a43ecd132a2089d85f4ebc044728a71d49f6e
pycparser
regex
requests
setuptools
sounddevice
soundfile
sympy
tiktoken
torch
tqdm
typing_extensions
urllib3
